[submodule "src/metatron"]
	path = src/metatron
	url = git@github.com:frk2/metatron.git
[submodule "src/sweep-ros"]
	path = src/sweep-ros
	url = git@github.com:scanse/sweep-ros.git
[submodule "racecar-controllers"]
	path = src/racecar-controllers
	url = git@github.com:frk2/racecar-controllers.git
[submodule "src/laser_lines"]
	path = src/laser_lines
	url = git@github.com:frk2/ros-laser_lines.git
